
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*хедер*/

.header {
  background-color: #eeeeee;
  width: 1440px;
  min-height: 545px;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-top-string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-top-string .logo {
  margin-top: 49px;
}

.header-navigation-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 291px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation-item {
  margin-top: 83px;
}

.cart {
  margin-top: 83px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

/* slider*/

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-size: 698px 413px;
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* main*/

.container-main {
  margin: 0;
  padding: 0;
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1104px;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 200px;
  padding-top: 80px;
}

.advantages h2 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages span {
  font-family: Roboto Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.webs {
  width: 300px;
  height: 347px;
  background-color: burlywood;
  padding: 0;
  margin: 0;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-list .button-to-order {
  margin-top: 30px;
}

.button-to-order {
  background-color: #fb565a;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 50px;
}

.button-to-order-webs:hover {
  color: #ffffff;
  background-color: #e74246;
}

.button-to-order-webs:active {
  color: #ffffff;
  background-color: #d7373b;
  opacity: 0.3;
}

.apps {
  width: 300px;
  height: 347px;
  background-color: burlywood;
  padding: 0;
  margin: 0;
}

.button-to-order-apps {
  color: #ffffff;
  background-color: #00ca74;
}

.button-to-order-apps:hover {
  color: #ffffff;
  background-color: #00bc6c;
}

.button-to-order-apps:active {
  color: #ffffff;
  background-color: #00aa62;
  opacity: 0.3;
}

.presentations {
  width: 300px;
  height: 347px;
  background-color: burlywood;
}

.button-to-order-presentation {
  color: #ffffff;
  background-color: #efc84a;
}

.button-to-order-presentation:hover {
  color: #ffffff;
  background-color: #eab534;
}

.button-to-order-presentation:active {
  color: #ffffff;
  background-color: #e5a722;
  opacity: 0.3;
}

/* секция о нас*/

.about-us-desc {
  width: 1180px;
  min-height: 529px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 140px 46px 140px;
  filter: ;
}

.about-us-left-column {
  width: 650px;
  background-color: burlywood;
}

.about-us-right-column {
  width: 360px;
  background-color: #c1c1c1;
}

.line-top {
  margin: 0 auto;
  padding-top: 76px;
  width: 1160px;
  height: 2px;
}

.line-middle {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 1160px;
  height: 2px;
}

.line-bottom {
  margin: 0 auto;
  width: 1160px;
  height: 2px;
}

/* Секция с логотипами брендов*/

.brands-string ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1086px;
  min-height: 90px;
  list-style: none;
  background-color: rosybrown;
  margin: 0 auto;
}

/* Карта*/

.yandex-map {
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  width: 1440px;
  height: 416px;

  position: relative;
}

.write-us-block {
  width: 319px;
  min-height: 308px;

  background-color: #e74246;

  position: absolute;
  left: 140px;
  bottom: 54px;
}

/* Футер */

.social-media-footer {
  width: 1443px;
  min-height: 217px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.social-media-footer ul {
  margin-left: 140px;
  margin-top: 69px;
}

.socials li {
  display: inline-block;
  margin: 0;
  padding: 0;

}

.socials li {
  background: url("../img/social-back.png");
  width: 79px;
  height: 79px;
  position: relative;
}

.socials img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.offer {
  margin: 78px auto;
}

.offer span {
  padding: 0;
  display: block;
}
