/* Шрифты */

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/roboto-regular.woff2"), url("../font/roboto-regular.woff");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/roboto-medium.woff2"), url("../font/roboto-medium.woff");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/roboto-bold.woff2"), url("../font/roboto-bold.woff");
}

/* Общие */

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.feedback {
  list-style: none;
}

/* хедер каталога */

.header-catalog {
  background-color: #eeeeee;
  min-height: 355px;
  margin: 0;
  padding: 0;
}

.header-top-string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.header-title {
  min-height: 43px;
  width: 100%;
  margin-top: 67px;
  padding: 0;
  text-align: center;
  font-family: "roboto", Arial, sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

/*хедер главная*/

.header {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* Главная */

.container-header {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 545px;
}

.logo:hover {
  opacity: 0.8;
  cursor: pointer;

}

.logo:active {
  opacity: 0.3;
  cursor: pointer;
}

.header-navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 160px;
  margin-top: 21px;
}

.header-navigation-item li {
  position: relative;
  margin-right: 47px;
}

.header-navigation-item .link-header-current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d7373b;
  right: 1%;
  bottom: -5px;
  -webkit-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
}

.link-header {
  color: #000000;
}

.link-header:hover {
  color: #e74246;
}

.link-header:active {
  opacity: 0.3;
  color: #000000;
}

.cart {
  margin-left: auto;
  margin-top: 5px;
}

.cart img {
  margin-right: 21px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  cursor: pointer;
}

.cart:hover {
  color: #fb565a;
}

.cart:active {
  opacity: 0.3;
}

/* slider*/

.slider {
  position: relative;
  width: 100%;
  margin-top: 7px;
  padding: 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: top;
  margin-right: 15px;
}

.slider-controls label:first-child::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls label:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls label:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  min-height: 413px;
  display: none;
  padding: 60px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/first-slide.png");
  background-size: 698px 413px;
  background-repeat: no-repeat;
  background-position: left 93% bottom 4%;
}

.slider-item:nth-child(2) {
  background-image: url("../img/second-slide.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/third-slide.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 13px;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 1px 0 25px 0;
  font-family: "roboto", Arial, sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* main*/

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages-block {
  margin-top: 80px;
  margin-right: 100px;
  width: 300px;
  min-height: 347px;
}

.advantages-block:nth-child(3n+3) {
  margin: 0;
  margin-top: 80px;
}

.cart-title-index {
  font-family: "roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 17px 0;
}

.cart-text-index {
  display: block;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 246px;
}

.button-to-order {
  display: block;
  background-color: #fb565a;
  color: #ffffff;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 3px;
  text-align: center;
  padding: 18px 0;
  width: 160px;
  height: 50px;
  margin-top: 32px;
}

.button-to-order-webs:hover {
  color: #ffffff;
  background-color: #e74246;
}

.button-to-order-webs:active {
  color: #ffffff;
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-to-order-apps {
  color: #ffffff;
  background-color: #00ca74;
}

.button-to-order-apps:hover {
  color: #ffffff;
  background-color: #00bc6c;
}

.button-to-order-apps:active {
  color: #ffffff;
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-to-order-presentation {
  color: #ffffff;
  background-color: #efc84a;
}

.button-to-order-presentation:hover {
  color: #ffffff;
  background-color: #eab534;
}

.button-to-order-presentation:active {
  color: #ffffff;
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* секция о нас*/

.about-us-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  padding-top: 40px;
  margin-top: 78px;
}

.about-us-left-column {
  width: 660px;
}

.about-us {
  display: block;
  font-family: "roboto", Arial, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.slogan span {
  display: block;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slogan {
  margin-bottom: 38px;
}

.opportunities-list {
  margin-top: 22px;
  margin-bottom: 0;
  padding-left: 37px;
}

.opportunities-list li {
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.opportunities-list li:before {
  display: block;
  content: "";
  width: 24px;
  height: 2px;
  background: #fb565a;
  -webkit-transform: translate(-35px, 13px);
  -ms-transform: translate(-35px, 13px);
  transform: translate(-35px, 13px);
}

.opportunities-list li:nth-of-type(2) {
  margin: 22px 0;
}

.list-of-services-title {
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 370px;
}

.about-us-logo {
  text-align: center;
  margin-left: auto;
  padding: 0;
  background-color: #eeeeee;
  width: 360px;
  height: 208px;
}

.about-us-right-column p {
  width: 100%;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 25px;
  margin: 38px 0 45px 0;
}

.our-promise-top {
  width: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0;
  font-family: "roboto", Arial, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 36px;
  position: relative;
}

.our-promise-top li:nth-of-type(2) {
  padding: 0 30px;
}

.our-promise-top sup:first-child {
  font-family: "roboto", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1px;
  bottom: 0;
  -webkit-transform: translateX(77px);
  -ms-transform: translateX(77px);
  transform: translate(77px, 4px);
  padding: 0;
  line-height: 36px;
}

.our-promise-top li:nth-of-type(2) sup {
  font-family: "roboto", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1px;
  bottom: 0;
  -webkit-transform: translateX(108px);
  -ms-transform: translateX(108px);
  transform: translate(108px, 4px);
  padding: 0;
  line-height: 36px;
}

.our-promise-top li:nth-of-type(3) sup {
  font-family: "roboto", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1px;
  bottom: 0;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translate(50px, 4px);
  padding: 0;
  line-height: 36px;
}

.our-promise-top li:nth-child(2) {
  -webkit-transform: translateX(-29px);
  -ms-transform: translateX(-29px);
  transform: translateX(-29px);
}

.our-promise-top li:nth-child(3) {
  -webkit-transform: translateX(-58px);
  -ms-transform: translateX(-58px);
  transform: translateX(-58px);
}

.our-promise-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 32px 0 12px;
}

.our-promise-bottom li {
  display: block;
  width: 89px;
  margin: 0;
  padding: 0;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

/* Секция с логотипами брендов*/

.brands-string ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 90px;
  list-style: none;
  margin: 61px 0 81px 0;
  padding: 41px 0;
  width: 1119px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.logo-brand {
  opacity: 0.3;
}

.logo-brand:hover {
  opacity: 1;
}

.logo-brand:active {
  opacity: 0.1;
}

.brands-list li {
  position: relative;
}

.brands-list li:first-child {
  -webkit-transform: translate(31px, 20px);
  -ms-transform: translate(31px, 20px);
  transform: translate(31px, 20px);
}

.brands-list li:nth-child(3) {
  -webkit-transform: translate(-5px, 22px);
  -ms-transform: translate(-5px, 22px);
  transform: translate(-5px, 22px);
}

.brands-list li:nth-child(2) {
  -webkit-transform: translate(10px, 4px);
  -ms-transform: translate(10px, 4px);
  transform: translate(10px, 4px);
}

.brands-list li:nth-child(4) {
  -webkit-transform: translate(-2px, 10px);
  -ms-transform: translate(-2px, 10px);
  transform: translate(-2px, 10px);
}

.brands-list li:nth-child(4)::before,
.brands-list li:nth-child(2)::before,
.brands-list li:nth-child(3)::before {
  display: block;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
}

.brands-list li:nth-child(2)::before {
  -webkit-transform: translate(-45px, 25px);
  -ms-transform: translate(-45px, 25px);
  transform: translate(-45px, 25px);
}

.brands-list li:nth-child(3)::before {
  -webkit-transform: translate(-60px, 5px);
  -ms-transform: translate(-60px, 5px);
  transform: translate(-60px, 5px);
}

.brands-list li:nth-child(4)::before {
  -webkit-transform: translate(-68px, 12px);
  -ms-transform: translate(-68px, 12px);
  transform: translate(-68px, 12px);
}

/* Карта*/

.map {
  position: relative;
  padding: 0;
}

.map-marker {
  position: absolute;
  left: 55%;
  bottom: 34%;
}

.yandex-map {
  width: 100%;
  min-height: 416px;
  margin: 0;
  padding: 0;
  border: none;
  background: url("../img/map-static.png"), #e1e1e1;
}

/* блок на карте и попап */

.write-us-block {
  width: 317px;
  min-height: 308px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  top: 53px;
  left: 21px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.write-us-block-adress {
  padding: 1px 0 19px 51px;
  width: 253px;
}

.telefone-number {
  color: #666666;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 24px;
}

.write-us-block-title {
  margin-top: 49px;
  margin-left: 50px;
  margin-bottom: 22px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.write-us-button {
  display: block;
  width: 218px;
  background-color: #fb565a;
  border-radius: 3px;
  text-align: center;
  margin: 36px 0 0 49px;
  padding: 16px 0;
}

.write-us-button a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 2px;
}

.container-popup {
  z-index: 2;
  display: none;
  width: 960px;
  min-height: 590px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: popup;
  animation-name: popup;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80%, 100% {transform: translateX(10px);}
}

.shake-form {
  animation-name: shake;
  animation-duration: 1s;
}

.popup {
  border: none;
  padding: 73px 100px 84px;
  margin: 0;
}

@-webkit-keyframes popup {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

@keyframes popup {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

.popup-placeholder-padding {
  padding-left: 15px;
}

.textarea-placeholder-padding {
  padding: 13px 0 0 15px;
}

.show-popup {
  display: block;
}

.popup-title {
  width: 320px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
}

.input-string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
}

.form-submit label {
  display: table;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 12px;
}

.form-submit input:hover:not(.send-button) {
  border: solid 2px #b4b9bb;
}

.form-submit input:not(.send-button) {
  width: 360px;
  min-height: 50px;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
  opacity: 0.5;
  color: #444444;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 36px;
}

.input-string input:invalid {
  border: 2px solid RED;
  color: #d7373b;
}

.form-submit input:focus:not(.send-button) {
  border: 2px solid #000000;
  outline: none;
}

.send-button {
  width: 260px;
  min-height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  outline: none;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.textarea-popup {
  width: 760px;
  min-height: 118px;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
  margin-bottom: 47px;
  opacity: 0.5;
  color: #444444;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.form-submit {
  padding-left: 0;
}

.close-popup {
  position: absolute;
  left: 100%;
  top: 13%;
  -webkit-transform: translateX(-120px);
  -ms-transform: translateX(-120px);
  transform: translateX(-120px);
  border: none;
  background-color: #ffffff;
  padding: 10px;
  cursor: pointer;
  outline: none;
  opacity: 0.3;
}

.close-popup:before {
  content: "";
  width: 25px;
  height: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fb5a5e;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.close-popup:after {
  content: "";
  width: 25px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fb5a5e;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.close-popup:hover {
  opacity: 1;
}

.close-popup:hover {
  opacity: 1;
}

.close-popup:active {
  opacity: 0.1;
}

.close-popup:active {
  opacity: 0.1;
}

/* Футер */

.social-media-footer {
  margin: 0 auto;
  padding-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials li {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 79px;
  min-height: 79px;
  position: relative;
}

.socials {
  padding: 0;
}

.footer-social-link img a:focus {
  outline: 3px solid #000000;
}

.socials li:nth-child(2) {
  margin-right: 7px;
  margin-left: 8px;
}

.socials li:hover {
  background-color: #e74246;
}

.socials li:active {
  background-color: #d7373b;
}

.socials img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.socials img:active {
  opacity: 0.3;
}

.offer {
  margin: 4px 0 0 141px;
}

.offer span:nth-child(1) {
  padding: 0;
  display: block;
  font-family: "roboto", Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 9px;
}

.offer span:nth-of-type(2) {
  color: #444444;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 10px;
}

/* ФИЛЬТР */

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 57px 0 60px 0;
  color: #283136;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.catalog ul {
  padding-left: 0;
}

.filter {
  list-style: none;
  margin-right: 140px;
}

.filter input:not(.input-value) {
  width: 25px;
  min-height: 25px;
  background-color: #4d4d4d;
  opacity: 0.4;
  margin-bottom: 15px;
}

.container-input-range {
  width: 261px;
  min-height: 80px;
  background-color: #eeeeee;
  position: relative;
  margin-top: 48px;
  margin-bottom: 14px;
  padding: 0;
}

.row div {
  display: inline-block;
  position: absolute;
  vertical-align: top;
}

.line {
  position: relative;
  width: 219px;
  height: 2px;
  background: -o-linear-gradient(left, #00ca74 70%, #d7dcde 30%);
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #00ca74), color-stop(30%, #d7dcde));
  background: linear-gradient(to right, #00ca74 70%, #d7dcde 30%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.min:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 4px;
  height: 4px;
  background-color: #c1c1c1;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.max:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 4px;
  height: 4px;
  background-color: #c1c1c1;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.min {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-box-shadow: 0 3px 1px #D3D3D3;
  box-shadow: 0 3px 1px #D3D3D3;
  cursor: pointer;
}

.max {
  width: 23px;
  height: 23px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 27%;
  bottom: 0;
  margin: auto;
  -webkit-box-shadow: 0 3px 1px #D3D3D3;
  box-shadow: 0 3px 1px #D3D3D3;
  cursor: pointer;
}

.container-price-value {

  margin-bottom: 57px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.container-price-value label:last-child {
  margin-left: 32px;
}

.input-value {
  left: 0;
  top: 0;
  width: 80px;
  height: 38px;
  border: none;
  opacity: 1;
  text-align: center;
  background-color: #eeeeee;
  cursor: pointer;
  margin-left: 6px;
}

.min-value {
  margin-right: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
}

.output-min {
  position: absolute;
  left: 35px;
  top: 9px;
  border: none;
  background-color: #eeeeee;

  width: 80px;
  min-height: 38px;
  margin-left: 11px;
}

.filter-of-features li {
  margin-top: 19px;
  padding-left: 5px;
  position: relative;
  cursor: pointer;
}

.filter-of-features li:first-child {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.filter-for-grid li:nth-of-type(2) {
  margin-top: 18px;
  margin-bottom: 20px;
}

.filter-for-grid li {
  position: relative;
  margin-top: 18px;
}

.filter-for-grid li:first-child {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.filter-label {
  padding-left: 36px;
  cursor: pointer;
}

input[type=radio]:disabled + label {
  opacity: 0.2;
}

input[type=radio] + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 3px solid #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  bottom: 1px;
  -webkit-transform: translateY(12%);
  -ms-transform: translateY(12%);
  transform: translateY(12%);
}

input[type=radio]:checked + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 3px solid #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
}

input[type=radio]:checked + label::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(82%, -150%);
  -ms-transform: translate(82%, -150%);
  transform: translate(82%, -150%);
}

input[type=radio]:disabled + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 3px solid #4d4d4d;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  bottom: 1px;
}

input[type=radio]:hover:not(.fix) + label::before {
  opacity: 1;
}

input[type=radio]:hover:not(.fix) + label::after {
  opacity: 1;
}

input[type=checkbox] + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  background-image: url("../img/svg-nerds/checkbox-off.svg");
  position: absolute;
  background-repeat: no-repeat;
  left: 1px;
  bottom: 0;
}

input[type=checkbox]:checked + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  background-image: url("../img/svg-nerds/checkbox-on.svg");
  background-repeat: no-repeat;
  position: absolute;
}

input[type=checkbox]:disabled + label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/svg-nerds/checkbox-off.svg");
  background-repeat: no-repeat;
  position: absolute;
}

input[type=checkbox]:disabled + label {
  opacity: 0.2;
}

input[type=checkbox]:hover:not(.disabled-text) + label::before {
  opacity: 1;
}

.grid-filter {
  margin-bottom: 47px;
}

.filter-label-second {
  cursor: pointer;
  padding-left: 30px;
}

.filter-title {
  font-family: "roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.button-filter {
  width: 260px;
  height: 50px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 35px;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.button-filter:hover {
  background-color: #dfdfdf;
}

.button-filter:active {
  background-color: #d5d5d5;
}

.button-filter:active {
  opacity: 0.3;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* main каталог правый блок */

.sort-string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 2px 0 56px 0;
}

.sort-type-string {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-left: auto;
}

.sort-title {
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-family: "roboto", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-type-string a {
  cursor: pointer;
  font-family: "roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}

.sort-type-string a:nth-child(2) {
  -webkit-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  transform: translateX(-3px);
}

.sort-type-string a:nth-child(3) {
  -webkit-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  transform: translateX(-7px);
}

.sort-type-string a:not(.current-type) {
  opacity: 0.3;
}

.sort-type-string a:nth-child(4) {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

.sort-type-string a:hover:not(.current-type) {
  opacity: 0.6;
}

.sort-type-string a:active:not(.current-type) {
  opacity: 1;
}

.catalog-right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: calc(100% - 261px);
}

.catalog-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  position: relative;
}

.catalog-goods .catalog-cart {
  margin-right: 39px;
}

.catalog-goods .catalog-cart:nth-of-type(2n+2) {
  margin-right: 0;
}

.catalog-cart {
  position: relative;
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  background-color: #eeeeee;
}

.top-card-decoration {
  width: 360px;
  height: 40px;
  background-color: #4d4d4d;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.top-card-decoration::before {
  display: block;
  content: "";
  position: absolute;
  left: 15px;
  top: 11px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ffffff;
}

.top-card-decoration::after {
  content: "";
  position: absolute;
  left: 62px;
  top: 11px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ffffff;
}

.one-more-before::after {
  content: "";
  position: absolute;
  left: 38px;
  top: 11px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ffffff;
}

.catalog-cart:hover .top-card-decoration {
  background-color: #eaeaea;
}

.catalog-cart:hover .hover-block {
  position: absolute;
  bottom: 0;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 32px 80px 43px;
}

.hover-block {
  display: none;
}

.card-popup-title {
  font-family: "roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.link-title-card {
  color: #000000;
}

.card-popup-text {
  text-align: center;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  width: 210px;
  margin-bottom: 28px;
}

.card-popup-text-long {
  width: 230px;
}

/* Разные способы переноса строки */

.card-popup-text span {
  display: block;
}

/* конец */

.card-popup-price {
  width: 200px;
  height: 50px;
}

.hover-block-button {
  display: block;
  width: 100%;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  text-align: center;
  padding: 16px 0;
  color: #ffffff;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.hover-block-button:hover {
  background-color: #e74246;
}

.hover-block-button:active {
  background-color: #d7373b;
}

/* ПАГИНАЦИЯ */

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 28px;
  width: 443px;
  min-height: 50px;
}

.pagination-button {
  background-color: #eeeeee;
  width: 260px;
  border-radius: 2px;
  display: block;
  font-family: "roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  text-align: center;
  margin: 0;
  padding: 15px 0;
}

.pagination-button:hover {
  background-color: #dfdfdf;
}

.pagination-button:active {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-button:active span {
  opacity: 0.3;
}

.pagination-item {
  background-color: #eeeeee;
  width: 50px;
  min-height: 50px;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}

.pagination-item:hover:not(.pagination-item-current) {
  background-color: #dfdfdf;
}

.pagination-item:active:not(.pagination-item-current) {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item:active span {
  opacity: 0.3;
}

.pagination-item-current:active span {
  opacity: 1;
}

.pagination-item span {
  color: #000000;
}

.pagination-item span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pagination-item-current {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}
